@use '../../styles/colors.scss';

.about_main_container {
    width: 100%;

    .about_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 80px 380px;
        gap: 70px;

        .about_left_container {
            display: flex;
            flex-direction: column;
            padding: 20px 0;

            .about_title {
                display: flex;
                flex-direction: column;

                color: var(--text-details);

                h2 {
                    font-size: 20px;
                    font-weight: 400;
                }
            }

            .about_description {
                text-align: justify;
                margin-top: 12px;
                color: var(--text-main);
            }
        }

        .about_right_container {
            padding: 20px 0;
            width: 100%;
            display: flex;
            justify-content: center;

            .avatar {
                width: 500px;
                height: auto;
                margin-bottom: 20px;
            }
        }

        @media (max-width: 1366px) {
            padding: 40px 140px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 40px;
            padding: 40px 10px;

            .about_left_container {
                padding: 0;
                text-align: center;

                .about_title {
                    align-items: center;
                    justify-content: center;
                    font-size: 15.6px;
                }

                .about_description {
                    font-size: 14px;
                }
            }
        }
    }

    .separator {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 80px 380px;

        @media (max-width: 1366px) {
            padding: 0 120px;
        }
    }

    .experiences {
        padding: 20px 380px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .experiences_title {
            display: flex;
            flex-direction: column;
            width: 100%;

            h1 {
                color: var(--text-details)
            }

            .green_line {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-end;
                margin-top: -10px;
            }

            @media (max-width: 768px) {
                align-items: center;

                h1 {
                    font-size: 18px;
                }

                .green_line {
                    width: 100%;
                }
            }
        }

        @media (max-width: 1366px) {
            padding: 0 120px;
        }

        @media (max-width: 1000px) {
            padding: 0 20px;

            .project_title_section {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .experiences_cards {
            display: flex;
            flex-direction: column;
            gap: 64px;
            margin-top: 32px;
        }
    }
}