$black-900: #101010;
$black-800: #161617;
$black-600: #2D2D2D;

$white-100: #F0F0F0;
$white-200: #EEEEEE;

$grey-100: #E2E2E2;
$grey-300: #A6A6A6;

$gradient-100: linear-gradient(90deg, #FD1D1D 100%, #FCB045 100%);
$gradient-200: linear-gradient(90deg, #5BE875 100%, #E6CE15 100%);
