@use 'sass:map';
@use './colors' as *;

$dark-theme: (
    primary-color: $black-900,
    text-color: $white-100,
    border-color: $black-600,
);

$light-theme: (
    primary-color: $white-200,
    text-color: $black-600,
    border-color: $grey-100,
);

@mixin apply-theme($theme) {
    --primary-color: #{map.get($theme, primary-color)};
    --text-color: #{map.get($theme, text-color)};
    --border-color: #{map.get($theme, border-color)};
}
