@use '../../styles/colors.scss';

.header_container {
	background: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 380px;

	.logo {
		font-family: var(--font-shadows);
		font-weight: 400;
		font-size: 24px;
		text-decoration: none;
		color: var(--text-details);

		&:hover {
			color: var(--text-main);
			transition: 0.3s;
		}
	}

	.navbar_container ul{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
		list-style: none;
		padding-left: 0;
		font-weight: 400;

		li a {
			text-decoration: none;
			color: var(--text-main);

			&:hover {
				color: var(--text-details);
				transition: 0.3s;
			}
		}
	}

	@media (max-width: 1366px) {
		padding: 0 140px;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 10px 16px;

		.navbar_container ul {
			gap: 12px;
			width: 100%;
		}

		.logo {
			font-size: 20px;
		}
	}

	@media (max-width: 385px) {
		.logo {
			font-size: 16px;
			text-align: center;
		}

		.navbar_container ul {
			flex-direction: column;
			align-items: center;
			gap: 8px;

			li a {
				font-size: 14px;
			}
		}
	}
}